.go-to-button {
  display: block;
  padding: 20px;
  background-color: cadetblue;
  color: white;
  border: none;
  border-radius: 5px;
}

.home-header {
  display: flex;
  font-size: large;
  padding: 10px;
}
