/* You can add global styles to this file, and also import other style files */

.chart {
  max-width: 100%;
}

.pie-chart {
  display: flex;
  max-width: 49%;
}

.chart-wrapper {
  width: 80%;
  margin: auto;
}

.pie-chart-wrapper {
  display: flex;
}

